@font-face {
	font-family: 'FontAwesome5Brands-Regular';
	src: url(FontAwesome5Brands-Regular-400.otf) format("truetype");
}
@font-face {
	font-family: 'FontAwesome5Brands-Pro-Regular';
	src: url(FontAwesome5Pro-Regular-400.otf) format("truetype");
}
@font-face {
	font-family: 'FontAwesome5Brands-Pro-Solid';
	src: url(FontAwesome5Pro-Solid-900.otf) format("truetype");
}
@font-face {
	font-family: 'FontAwesome5Brands-Pro-Light';
	src: url(FontAwesome5Pro-Light-300.otf) format("truetype");
}


